@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <h1>Questions Fréquentes</h1>
    <hr />
    <div class="accordion">
        <div class="accordion-item">
            <a>
                Comment modifier ou ajouter des plages de disponibilités dans mon horraire?
            </a>
            <div class="content">
                <p>Pour effectuer cette action, vous n'avez qu'a vous rendre sur la page horaire enseignant. Pour ajouter une rencontre cliquer dans le calendrier a l'endroit voulue comme heure de depart et glisser jusqua l'heure de fin. Vous n'avez plus qu'a y inscrire le nom du cours. Vous pouvez ensuite cliquer sur l'onglet au-dessus du crayon pour entrer le numéro du local ou modifier la plage de cours.</p>
                <img src="~/images/NewFolder/FAQHorraireEns.PNG" style="width:100%; height:100%" />
                <img src="~/images/NewFolder/FAQHoraireInstruc.PNG" style="width:100%; height:100%" />
            </div>
        </div>
        <div class="accordion-item">
            <a>Comment modifier mon profil?</a>
            <div class="content">
                <p>Vous pouvez modifier votre profil en vous rendant dans la page MON PROFIL. Vous n'avez ensuite qu'a choisir l'onglet approprié et modifier vos informations.</p>
            </div>
        </div>
        <div class="accordion-item">
            <a>Comment consulter mes evaluations et mes rencontres?</a>
            <div class="content">
                <p>Il suffit de se rendre dans la page MES ÉVALUATIONS et cliquer sur la rencontre voulue dans la liste de droite afin d'afficher les informations de la rencontre voulue. Vous n'avez qu'a cliquer sur le bouton REMPLIR pour remplir l'évaluation de l'élève voulue.</p>
            </div>
        </div>
        <div class="accordion-item">
            <a>A quoi sert la page AGENDA?</a>
            <div class="content">
                <p>Elle sert tout simplement à afficher tel un agenda toutes vos rencontres prévues dans un agenda. Il est ainsi plus facile de les visualiser et vous pouvez cliquer sur celles-ci pour avoir leurs informations détaillée </p>
                <img src="~/images/NewFolder/FAQRencontreEtu.PNG" style="width:100%; height:100%" />
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="~/css/FAQ.css" />
<script>
    const items = document.querySelectorAll(".accordion a");

    function toggleAccordion() {
        this.classList.toggle('active');
        this.nextElementSibling.classList.toggle('active');
    }

    items.forEach(item => item.addEventListener('click', toggleAccordion));
</script>