@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>LES RENCONTRES ONT DÉJÀ ÉTÉ VÉROUILLÉES PAR LE PROFESSEUR DE SOUTIEN</h1>
<h2>CONTACTEZ LE POUR FAIRE UN CHANGEMENT</h2>
<hr />
<hr />
<button class="btn btn-primary btn-lg" onclick="window.location.href = '@Url.Action("Index","Navigation")';">RETOURNER AU MENU</button>
